@media screen and (max-width: 1100px) {
    #header .items .res-menu {
        display: block;
        /*position: absolute;*/
        /*top: 20px;*/
        /*margin-right: 16px;*/
    }

    #header .items {
        /*overflow: visible;*/
        padding-top: 66px;
        height: 100px;
        width: 100%;
        overflow: hidden;

        /* display: table; */
        padding-bottom: 7px;
        transition: .33s all ease-out;

    }

    #header .items.active {
        height: auto;
    }

    #header .items .item {
        float: none;
        text-align: center;
    }
}

@media screen and (max-width: 993px) {
    .tab {
        display: table;
        width: 100%;
        /*margin: 0 auto;*/
    }
}

@media screen and (max-width: 770px) {
    .dl-kamkar {
        top: 20px;
    }

    .dl-kamkar .col-xs-6 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .social-box i {
        color: white;
        font-size: 20px;
        /* width: 82px; */
        /* height: 64px; */
        margin-left: 10px;
        margin-right: 0px;
        margin-top: 30px;
        cursor: pointer;
    }
}

@media screen and (max-width: 525px) {
    .cu-btn {
        padding-right: 10px !important;
        padding-left: 10px !important;
    }
}
